<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactName</key>
	<string>Martin Hedenfalk</string>
	<key>description</key>
	<string>Support for recursively searching files for patterns using Ack</string>
	<key>name</key>
	<string>Ack</string>
	<key>uuid</key>
	<string>10FB5B6B-E43F-4CB0-AEF3-933E74BF4A73</string>
</dict>
</plist>
